button{
    width: 45px;
    height: 445px;
    border: 7px solid rgb(229, 233, 23);
    background-color: rgb(230, 12, 23);
}

button:hover{
    background-color: green;
}


button:active{
    background-color: pink;
}


button:link{
    color: rgb(41, 150, 56);
}